.filters {
    display: flex;
}

.btn {
    display: inline-block;
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.btn:not(.selected) {
    cursor: pointer;
}

.btn:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.btn.selected {
    border-color: rgba(175, 47, 47, 0.2);
}